body,div,p,ul,li,table,dl,dt,tr,td,h1,h2,h3,h4,h5,{
	padding:0;
	margin:0;
}
@media screen and (max-width:1230px){
  #banner{
		width:1230px !important;
	}
	#banner>a img{
		width:1230px !important;
	}
}
/* 轮播 */
#banner{
	width:100%; 
	height:740px;
	position:relative;
	box-shadow:0px 0px 50px -20px #000;
	border-bottom:1px solid #92764e;
	text-align: center;
}
#banner>a img{
	width:100%;
	height:740px;
	position:absolute;
	top:0px;
	left:0px;
	transition:1s;
}
#banner.show{
	opacity:1;
}
#banner.hidden{
	opacity:0;
}
/*中间导航*/
.cake_box{
	margin:35px auto 0;
	width:1100px;
}
.a{
	width: 1100px;
	margin: 0 auto;
	/* text-align: center; */
}
.cake_box .cake_moule a:first-child~a{
	margin-left:13px;
}
.cake_box .cake_moule>a img{
	border:1px solid rgba(0,0,0,0.1);
	display:inline-block;
	border-radius:10px;
	background:#fff;
	/* margin-left:13px; */
}
.cake_moule .title p{
	font-size:25px;
	/* margin-left:300px; */
	margin-top:55px;
	margin-bottom:25px;
}
.cake_moule .title p>span{
	font-size:15px;
}
/* .new a>img{
	 margin-left:300px; 
} */
.cake_moule_list{
	width:1220px;
}
.cake_moule_list ul{
	width:1100px;
	/* margin-left:300px; */
	list-style:none;
    display: flex;
    justify-content: space-around;
}
.cake_moule_list ul li a>img{
	width:250px;
	height:218px;
}
.cake_moule_list .intro>span{
	font-size:13px;
	color: #885828;
}
.cake_moule_list .circle>a{
	border:1px solid#e6ba7a;
	border-radius:10px;
	font-size:13px;
}
.cake_moule_list .price{
	width:210px;
	border-top:2px dotted #e6ba7a;
	font-size:13px;
	margin-top:10px;
}
.cake_moule_list .price a{
	width:100px;
	background: #643a10;
	color:#fff;
	border-radius:2px;
	margin-left:45px;
}