#first{
	margin:0;
}
.content_box{
	position:relative;
	margin:0 auto;
	padding-bottom:50px;
	background-image:url(../img/bg_reg.jpg);
	height:800px;
	width:100%;
}
.form_reg_box{
	position:absolute;
	width:200px;
	top:270px;
	left:1200px;
	padding:28px 42px;
	border:1px #E9E9E9 solid;
	border-radius:2px;
	background:#fff;
}
.form_reg_box .reg #first{
	margin-left:20px;
}
.form_reg_box form>p>input{
  width:200px;
	height:25px;
}
.form_reg_box p{
  margin-top:18px;
}
.reading{
	font-size:13px;
}
@media screen and (max-width: 1450px){
  .content_box{
		width: 1450px;
	}
}